
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }

body {
    background-color: #ffffff;
    }

/* Begin Navigation Bar Settings */
.topnav {
    overflow: hidden;
    background-color: #ffffff;
  }
  
  .topnav a {
    float: left;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
    border-right: 1px solid #dddddd;
    margin-top: 3px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
   
  .topnav-right {
    float: right;
    position: fixed;
    top: 0px;
    right: 550px;
  }
  
   /* set position and attributes for Teal Name Box */

   h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 50px; 
   }

   h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 50px;
   }

   h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 50px;
   }

#absolute {
    position: fixed;
    height: 50px;
    width: 150px;
    top: 0;
    left: 549px;
    margin: 0;
    text-align: center;
    background: #4aaaa5;
    color: #ffffff;
  /**  font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 50px;
    z-index: 1; **/
      }


.container {
    position: absolute;
    margin-top: 75px;
    left: 549px;
    padding: 25px;
    width: 960px;
  /*  note to self: not setting a height allows page to move with content */
    background-color: #777777;
    
}

.bioImage {
    display: block;
    position: relative;
    max-width: 200px;
    max-height: 150px;
    width: auto;
   /* height: auto; */
    clear: both;
    }     


.floatLeft {
    float: left;
    margin-right: 15px;
    margin-bottom: 8px;
}


#tealBar {
    position: relative;
    left: 0;
    width: 100%;
    height: 8px; 
    background: #4aaaa5;
    
  }

 .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #666666;
   color: white;
   text-align: center;  
   height: 50px;
        }